<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head (title)">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${title}"></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>
<th:block th:fragment="header">
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Find your dream job</h1>
        <p>You have from where to choose.</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" th:href="@{/}">Jobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show Jobs
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/jobs/by-categories}">By Categories</a>
                        <a class="dropdown-item" th:href="@{/jobs/by-company}">By Companies</a>
                    </div>
                </div>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/my-company}">My companies</a>
                </li>
            </ul>
        </div>
        <form sec:authorize="isAnonymous()" class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a href="/login" th:href="@{/login}" onclick="$('form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Login
                </a>
                <form style="visibility: hidden" id="formLogin" method="post"
                      th:action="@{/login}"></form>
            </li>
        </form>
        <form sec:authorize="isAuthenticated()" class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a href="/logout" th:href="@{/logout}" onclick="$('form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                </a>
                <form style="visibility: hidden" id="form" method="post"
                      th:action="@{/logout}"></form>
            </li>
        </form>
    </nav>
</th:block>
</body>
</html>


