<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
<nav th:fragment="pagination(pageable, maxPages, link)" th:if="${pageable.totalPages ne 0}" aria-label="Page navigation"
     style="margin-bottom: 10px; margin-top: 10px">
    <ul class="pagination justify-content-left"
        th:with="pagesCount = (${maxPages} - 3) / 2, offset = ${pagesCount} * 2 + 1">
        <li th:class="${pageable.number eq 0} ? 'page-item disabled' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number eq 0)}"
               th:href="@{'/'+${link}(page=${pageable.number - 1})}">&laquo;
            </a>
            <a href="#" class="page-link" th:if="${pageable.number eq 0}">&laquo;</a>
        </li>

        <li th:with="pageNo=0" th:class="${pageable.number eq pageNo}? 'page-item active' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number eq pageNo)}"
               th:href="@{'/'+${link}(page=${pageNo})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a href="#" class="page-link disabled" th:if="${pageable.number eq pageNo}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>
        <li th:if="${pageable.totalPages le maxPages and pageable.totalPages gt pagesCount}"
            th:each="pageNo : ${#numbers.sequence(1, pageable.totalPages - 2)}"
            th:class="${pageable.number eq pageNo}? 'page-item active' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number eq pageNo)}"
               th:href="@{'/'+${link}(page=${pageNo})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a href="#" class="page-link" th:if="${pageable.number eq pageNo}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>
        <li th:if="${pageable.totalPages gt maxPages and pageable.totalPages gt pagesCount}"
            th:each="pageNo : ${#numbers.sequence(((pageable.number - pagesCount le 1)
            ? 1
                : (pageable.number - pagesCount > pageable.totalPages - 1 - offset ? pageable.totalPages - 1 - offset : pageable.number - pagesCount)),
            ((pageable.number + pagesCount ge pageable.totalPages - pagesCount)
            ? pageable.totalPages - pagesCount
                : (pageable.number + pagesCount < offset ? offset : pageable.number + pagesCount)))}"
            th:class="${pageable.number eq pageNo}? 'page-item active' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number eq pageNo)}"
               th:href="@{'/'+${link}(page=${pageNo})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a href="#" class="page-link" th:if="${pageable.number eq pageNo}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>

        <li th:if="${pageable.totalPages gt 1}" th:with="pageNo=${pageable.totalPages - 1}"
            th:class="${pageable.number eq pageNo}? 'page-item active' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number eq pageNo)}"
               th:href="@{'/'+${link}(page=${pageNo})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a href="#" class="page-link" th:if="${pageable.number eq pageNo}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>

        <li th:class="${pageable.number + 1 ge pageable.totalPages} ? 'page-item disabled' : 'page-item'">
            <a href="#" class="page-link" th:if="${not (pageable.number + 1 ge pageable.totalPages)}"
               th:href="@{'/'+${link}(page=${pageable.number + 1})}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a href="#" class="page-link" th:if="${pageable.number + 1 ge pageable.totalPages}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>