<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <title>Add job</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add job </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{'/jobs/create/' + ${id}}" th:object="${jobDto}" method="post">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Job Name</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{jobName}" value=""
                                                  required="required" minlength="2" maxlength="40"/></span>
                    <span id="nameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Category</label>
                    <span class="col-sm-5">
                        <select class="form-control" th:field="*{category}"
                                required="required">
                            <option value="" selected>Choose category</option>
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </span>
                    <span id="categoryError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Salary</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{salary}" value=""
                                                  required="required"/></span>
                    <span id="salaryError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">City</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{city}" value=""
                                                  minlength="2" maxlength="40" required="required"/></span>
                    <span id="priceError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group">
                    <span class="col-sm-5">
                    <label for="jobDescription" class="col-sm" th:rows="3">Description</label>
                    <textarea class="form-control" th:field="*{description}"
                              value="" id="jobDescription"
                              required="required">
                    </textarea>
                    </span>
                </div>
                <span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save"/>
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                </span>
            </form>
            <a class="btn btn-info" th:href="@{/jobs/by-company/{id}}"> Back to All Jobs </a>
        </div>
    </div>
</div>
</body>
</html>