<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <div class="container" style="margin-top:30px">
                <div class="col-sm-12">
                    <div class="card-columns">
                        <div th:each="company : ${companies}">
                            <div class="card text-center" style="width: 300px;">
                                <img th:src="@{../atomate.png}" height="80" width="80" style="align-content: center"/>
                                <div class="card-body text-center">
                                    <h5 class="card-title" th:text="${company.companyName}">CompanyName</h5>
                                    <p class="card-text" th:text="${company.companyDescription}">Description</p>
                                    <a th:href="@{'/jobs/show-by-company/' + ${company.id}}" class="btn btn-primary">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/pagination :: pagination(pageable=${companies}, maxPages=11, link=${'jobs/by-company'})"></div>
    </div>
</div>
</body>
</html>