<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Edit Job</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Job </h1>
            <form th:action="@{'/edit/' + ${job.id}}" th:object="${job}" method="post" enctype="utf8">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Job Name</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{jobName}" data-th-value="*{jobName}"
                                                  required="required"/></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Description</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{description}"
                                                  data-th-value="*{description}"
                                                  required="required"/></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Salary</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{salary}" data-th-value="*{salary}"
                                                  required="required"/></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">City</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{city}" data-th-value="*{city}"
                                                  required="required"/></span>
                </div>
                <span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" th:href="@{'/jobs/by-company/' + ${job.company.id}}"> Back to All Jobs </a>
        </div>
    </div>
</div>
</body>
</html>