<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
        <div class="col-3">
            <form id="searchform" th:action="@{/}" method="get">
                <div class="input-group" id="adv-search">
                    <input th:value="${param.jobName}" class="form-control" id="search" name="jobName"
                           placeholder="Your dream job"
                           autocomplete="on" type="text">
                </div>
                <div class="card">
                    <div class="card-header">Categories</div>
                    <div class="list-group" id="checkbox-container" th:each="category : ${categories}">
                        <div class="list-group-item">
                            <label th:text="${category.name}"></label>
                            <input type="checkbox" name="category" th:id="'category_' + ${category.id} "
                                   th:value="${category.id}"/>
                            <span class="succes"></span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Salary</div>
                    <div class="list-group">
                        <div class="list-group-item">
                            1000-4000
                            <label class="checkbox">
                                <input type="radio" name="salary" id="salary_1000" th:value="1000"/>
                                <span class="succes"></span>
                            </label>
                        </div>
                        <div class="list-group-item">
                            4000-7000
                            <label class="checkbox">
                                <input type="radio" name="salary" id="salary_3000" th:value="3000"/>
                                <span class="succes"></span>
                            </label>
                        </div>
                        <div class="list-group-item">
                            7000-10000
                            <label class="checkbox">
                                <input type="radio" name="salary" id="salary_5000" th:value="5000"/>
                                <span class="success"></span>
                            </label>
                        </div>
                        <div class="list-group-item">
                            10000 >
                            <label class="checkbox">
                                <input type="radio" name="salary" id="salary_7000" th:value="7000"/>
                                <span class="success"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">City</div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <select class="form-control" name="city">
                                <option value="" selected>Choose city</option>
                                <option th:value="Chisinau" id="city_Chisinau">Chisinau</option>
                                <option th:value="Balti" id="city_Balti">Balti</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Search</button>
                <a th:if="${param.jobName != null or param.salary != null or param.category != null or param.city != null}"
                   th:href="@{/}"
                   class="btn btn-block btn-danger">Clear Filters</a>
            </form>
        </div>
        <div class="col-9" th:if="${not #lists.isEmpty(jobs.content)}">
            <div th:replace="fragments/pagination :: pagination(pageable=${jobs},maxPages=11,
            link=(${param.jobName} ? '?jobName=' + ${param.jobName} : '')
            + (${param.category} ? '&category=' + ${#strings.listJoin(param.category,'&category=')} : '')
            + (${param.salary} ? '&salary=' + ${param.salary} : '')
            + (${param.city} ? '&city=' + ${param.city} : ''))">
            </div>
            <div th:text="'Found '+ ${jobs.totalElements} + ' results'"></div>
            <div class="row mb-1">
                <h2 class="col-sm-1 col-md-1 col-lg-2">Name</h2>
                <h2 class="col-sm-1 col-md-1 col-lg-5">Description</h2>
                <h2 class="col-sm-1 col-md-1 col-lg-2">Category</h2>
                <h2 class="col-sm-1 col-md-1 col-lg-2">Salary</h2>
                <h2 class="col-sm-1 col-md-1 col-lg-1">Actions</h2>
            </div>
            <div th:each="job : ${jobs}">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-2 mb-1" th:text="${job.jobName}"></div>
                    <div class="col-sm-1 col-md-1 col-lg-5 mb-1" th:text="${job.description}">Description</div>
                    <div class="col-sm-1 col-md-1 col-lg-2 mb-1" th:text="${job.category.name}">Category</div>
                    <div class="col-sm-1 col-md-1 col-lg-2 mb-1" th:text="${job.salary}">Salary</div>
                    <div class="col-sm-1 col-md-1 col-lg-1 mb-1">
                        <a th:href="@{'/jobs/' + ${job.id}}" class="btn btn-primary">Apply</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" th:if="${#lists.isEmpty(jobs.content)}">
            <a th:href="@{/}" class="btn btn-block btn-secondary">No jobs found, search again</a>
        </div>
    </div>

</div>
</body>
<script th:inline="javascript">
    function check(params, prefix)
    {
        if (params)
        {
            params.forEach(it => document.getElementById(prefix + it).setAttribute('checked', 'checked'));
        }

    }

    check([[${param.category}]], 'category_');

    if ([[${param.salary}]])
    {
        document.getElementById('salary_' + [[${param.salary}]]).setAttribute('checked', 'checked');
    }

    if ([[${param.city}]])
    {
        document.getElementById('city_' + [[${param.city}]]).setAttribute('selected', 'selected');
    }
</script>
</html>

