<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div th:href="@{/jobs/by-company/{id}}" th:object="${company}">
        <div class="card text-center ">
            <!--<div>-->
            <!--<img th:src="@{../atomate.png}" height="120" width="120" style="align-content: center"/>-->
            <!--</div>-->
            <div class="card-body">
                <h4 class="card-title" th:text="${company.companyName}">${companyName}</h4>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${company.companyDescription}">companyDescription</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12" th:href="@{/jobs/{id}}" th:object="${job}">
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title" th:text="${job.jobName}">jobName</h5>
                    <p class="card-text" th:text="${job.description}">description</p>
                    <p class="card-text" th:text="${job.salary}">salary</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Send CV
                    </button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{'/jobs/'+ ${id}}" th:object="${applicationDto}" method="post"
                                          enctype="multipart/form-data">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3">Full name</label>
                                            <span class="col-sm-5"><input class="form-control"
                                                                          th:field="*{applicantName}"
                                                                          value=""
                                                                          required="required" minlength="2"
                                                                          maxlength="40"/></span>
                                            <span id="nameError" class="alert alert-danger col-sm-4"
                                                  style="display:none"></span>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3">Email</label>
                                            <span class="col-sm-5"><input class="form-control" th:field="*{email}"
                                                                          value=""
                                                                          type="email" required="required"/></span>
                                            <span id="emailError" class="alert alert-danger col-sm-4"
                                                  style="display:none"></span>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3">CV</label>
                                            <span class="col-sm-5"><input th:field="*{cv}"
                                                                          type="file"
                                                                          size="5000"
                                                                          accept="application/pdf,application/msword,
                                                application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                                          required="required"/></span>
                                            <span id="cvError" class="alert alert-danger col-sm-4"
                                                  style="display:none"></span>
                                        </div>
                                        <span class="pull-right">
                                                <input type="submit" id="submitButton" class="btn btn-success"
                                                       th:value="Save">
                                                <input type="reset" id="resetButton" class="btn btn-danger"
                                                       th:value="Reset"/>
                                            </span>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>
                                <button id="1" onclick="true"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>