<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12" th:href="@{/jobs/by-category/{category}}" th:object="${jobs}">
                <div th:if="${jobs.size()} == 0">
                    <h2>No jobs. Select another category !</h2>
                    <a></a>
                </div>
                <tr th:each="job : ${jobs}">
                    <div class="card w-50">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${job.jobName}">jobName</h5>
                            <p class="card-text" th:text="${job.description}">description</p>
                            <p class="card-text" th:text="${job.salary}">salary</p>
                            <a th:href="@{'/jobs/' + ${job.id}}" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </tr>
                <a th:href="@{'/jobs/by-categories'}" class="btn btn-secondary">Back to categories</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>