<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card-columns">
            <div th:each="category : ${categories}">
                <div class="card card-indent add-top pt-25">
                    <div class="col-sm-6 col-md-8">
                        <ul class="list-dot-gray text-gray-light">
                            <li>
                                <a th:href="@{'/jobs/by-category/' + ${category.id}}" th:text="${category.name}">category</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
