<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card-columns">
            <div th:each="job : ${jobs}">
                <div class="card text-center" style="width: 300px;">
                    <img th:src="@{/atomate1.jpg}" height="80" width="80" style="align-content: center"/>
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${job.jobName}">JobName</h5>
                        <p class="card-text" th:text="${job.company}">Company</p>
                        <p class="card-text" th:text="${job.description}">Description</p>
                        <p class="card-text" th:text="${job.salary}">Salary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
