<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <span th:if="${msg}">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong th:text="${msg}"></strong>
    </div>
    </span>
    <span th:if="${msgDelete}">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong th:text="${msgDelete}"></strong>
    </div>
    </span>
    <span th:if="${msgUpdate}">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong th:text="${msgUpdate}"></strong>
    </div>
    </span>
    <div th:href="@{/jobs/by-company/{id}}" th:object="${company}">
        <div class="card text-center ">
            <div class="card-body">
                <h4 class="card-title" th:text="${company.companyName}">${companyName}</h4>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${company.companyDescription}">companyDescription</p>
            </div>
        </div>
        <a class="btn btn-success" th:href="@{'/jobs/create/' + ${id}}"> Add a job </a>
        <a class="btn btn-secondary" th:href="@{/my-company}"> Back to companies </a>
    </div>
    <div class="col-10">
        <div th:if="${jobs.size()} == 0">
            <h2>No jobs!Add one.</h2>
        </div>
        <div th:each="job : ${jobs}">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${job.jobName}">jobName</h5>
                    <p class="card-text" th:text="${job.description}">description</p>
                    <p class="card-text" th:text="${job.salary}">salary</p>
                    <a th:href="@{'/edit/' + ${job.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{'/applications/' + ${job.id}}" class="btn btn-secondary">Show applicantions</a>
                    <a th:href="@{'/jobs/delete/'+${job.id}}" class="btn btn-danger">Delete job</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>