<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-8">
            <form th:action="@{/new-company}" th:object="${companyDto}" method="post">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Company Name</label>
                    <span class="col-sm-5"><input minlength="2" maxlength="40" class="form-control"
                                                  th:field="*{companyName}" value=""
                                                  required="required"/></span>
                    <span id="companyNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Contact Person</label>
                    <span class="col-sm-5"><input minlength="2" maxlength="40" class="form-control"
                                                  th:field="*{contactPerson}" value=""
                                                  required="required"/></span>
                    <span id="contactPersonError" class="alert alert-danger col-sm-4" style="display:none"></span>

                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Email</label>
                    <span class="col-sm-5"><input type="email" class="form-control" th:field="*{email}" value=""
                                                  required="required"/></span>
                    <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Contact Number</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{contactNumber}" value=""
                                                  required="required"/></span>
                    <span id="contactNumberError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Website</label>
                    <span class="col-sm-5"><input class="form-control" th:field="*{webPage}" value=""
                                                  required="required"/></span>
                    <span id="webPageError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group">
                    <label for="companyDescription" class="col-sm" th:rows="3">Company Description</label>
                    <textarea class="form-control" th:field="*{companyDescription}"
                              value="" id="companyDescription"
                              required="required">
                        </textarea>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="submit"
                                   id="submit"
                                   class="form-control btn btn-info"
                                   value="Submit">
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>