<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card-columns">
            <div th:if="${applicants.totalElements} == 0">
                <h2>No appliers!</h2>
            </div>
            <div th:replace="fragments/pagination :: pagination(pageable=${applicants}, maxPages=5, link=${''})"></div>
            <div th:each="applicant : ${applicants}">
                <div class="card text-center" style="width: 300px;">
                    <img th:src="@{../atomate.png}" height="80" width="80" style="align-content: center"/>
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${applicant.applicantName}">Applicant Name</h5>
                        <p class="card-text" th:text="${applicant.email}">Email</p>
                        <a th:href="@{'/downloadfile/' + ${applicant.id}}" class="btn btn-primary">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4 m-lg-5">
            <a class="btn btn-info" th:href="@{'/jobs/by-company/' + ${job.company.id}}"> Back to All Jobs </a>
        </div>
    </div>
</div>
</body>
</html>
