<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <title>Job Offers</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container" style="margin-top:30px">
    <div th:href="@{/jobs/by-company/{id}}" th:object="${company}">
        <div class="card text-center " style="width: 60%;">
            <!--<div>-->
            <!--&lt;!&ndash;<img th:src="@{../atomate.png}" height="80" width="80" style="align-content: center"/>&ndash;&gt;-->
            <!--</div>-->
            <div class="card-body">
                <h4 class="card-title" th:text="${company.companyName}">${companyName}</h4>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${company.companyDescription}">companyDescription</p>
            </div>
        </div>
        <div class="container" style="margin-right:30px">
            <a class="btn btn-success" th:href="@{'/jobs/create/' + ${id}}"> Add a job </a>
        </div>
    </div>
    <div class="col-8">
        <div th:each="job : ${jobs}">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${job.jobName}">jobName</h5>
                    <p class="card-text" th:text="${job.description}">description</p>
                    <p class="card-text" th:text="${job.salary}">salary</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>